:root {
    font-family: 'Montserrat', sans-serif;

}
* {
	font-size: 14px;
	margin: 0;
	padding: 0;
	
}

.ir{
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
li::marker{
	color:#846EAE

}
body{
	margin: 0;
	background-color: #673399;
	width: 100vw;
	margin: 0 auto;
	margin-top: 100px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 350px;
}
header{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;

}
.h1 {
	width: 26%;
	display: block;
	margin-right: 17px;
}
header h1 p{
	font-size: 30px;
	color: white;
	font-weight: 500;
}
.red{
	background: linear-gradient(to top, #FE4600 50%, transparent 50%);
	display: inline-block;
}
.h1-p-container{
	width: calc(100%-26%);
	display: flex;
	padding-right: 160px;
	align-items: center;
}
.h1-txt{
	color: white;
	opacity: .5;
	font-size: 12px;
}
.line{
	width: 160px;
	border-top: 2px solid #846EAE;
	margin-right: 17px;
}
main{
	width: 100%;
}
section{
	margin-bottom: 14px;
	display: flex;
	position: relative;
	width: 100%;
}
.rest{
	width: auto;
}
.rest_bg::after{
	background-image: url("./images/photo01.png");
  width: 26%;
  height: 100%;
  content: "";
	opacity: .5;
  position: absolute;
  top: 0;	
	background-position: center;
	background-size: cover;
	z-index: -1;
  left: 0;
}
.craft_bg::after{
	background-image: url("./images/photo02.png");
  width: 26%;
  height: 100%;
  content: "";
	opacity: .5;
  position: absolute;
  top: 0;	
	background-position: center;
	background-size: cover;
	z-index: -1;
  right: 0;
}
.scrap_bg::after{
	background-image: url("./images/photo03.png");
  width: 26%;
  height: 100%;
  content: "";
	opacity: .5;
  position: absolute;
  top: 0;	
	background-position: center;
	background-size: cover;
	z-index: -1;
  left: 0;
}
.bgImg::after {

}

.bgImg{
	width: 26%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	opacity: 1;
	font-size: 25px;
}
.craft{
	flex-direction: row-reverse;
}
.txt{
	background-color: white;
	padding: 14px;
	width: 74%;
}
.txt h2{
	font-size: 18px;
	color: #673399;
	padding-bottom: 14px;
}
.txt li{
	margin-left: 14px;
	font-size: 10px;
}